.contact_item {
    pointer-events: none;
    opacity: 0;
    display: none;
    &.is-active {
        transition: 0.4s $ease-out;
        pointer-events: all;
        opacity: 1;
        display: block;
    }
}

.contact_top  {
    margin-top: 46px;
    @include mq(medium) {

    }
    .contactTop_txt {
        text-align: center;
        margin-top: 36px;
        font-size: 15px;
        line-height: 1.8;
        @include mq(medium) {
            margin-top: 60px;
        }
    }
}

.contact_form {
    padding-bottom: 60px;
    .contactForm_form {
        margin-top: 36px;
        @include mq(medium) {
            max-width: 687px;
            margin: 67px auto 0;
        }
        .contactForm_bg {
            background: #F8F8F8;
            padding: 36px 20px;
            .contactForm_companyName {
                margin-top: 0;
            }
        }
        .contactForm_item {
            margin-top: 32px;
            .contactFormItem_label {
                color: #000;
                font-weight: bold;
                font-size: 15px;
                @include mq(medium) {
                    font-size: 16px;
                }
                span {
                    margin-left: 6px;
                    padding: 4px 8px;
                    color: #fff;
                    background: #F00000;
                    font-size: 12px;
                }
            }
            .contactFormItem_error {
                display: none;
                color: #F00000;
                font-size: 11px;
            }
            input {
                position: relative;
                outline: none;
                display: inline-block;
                padding: 12px 20px;
                margin-top: 10px;
                border: 1px solid #A7A7A7;
                width: 100%;
                font-size: 14px;
                &.is-error {
                    position: relative;
                    background: #FFEBEB;
                    border: 1px solid #F00000;
                    &::after {
                        content: "";
                        width: 23px;
                        height: 23px;
                        background: url("/movie-site/assets/img/ico_error.png");
                        background-size: cover;
                        position: absolute;
                        top: 10px;
                        right: 14px;
                    }
                }
                @include mq(medium) {
                    font-size: 15px;
                }
            }
            textarea {
                position: relative;
                height: 200px;
                outline: none;
                display: inline-block;
                padding: 12px 20px;
                margin-top: 10px;
                border: 1px solid #A7A7A7;
                width: 100%;
                font-size: 14px;
                &.is-error {
                    background: #FFEBEB;
                    border: 1px solid #F00000;
                    &::after {
                        content: "";
                        width: 23px;
                        height: 23px;
                        background: url("/movie-site/assets/img/ico_error.png");
                        background-size: cover;
                        position: absolute;
                        top: 10px;
                        right: 14px;
                    }
                }
                &:focus {
                    color: #000;
                }
            }
        }
    }
    .contact_caution {
        margin-top: 8px;
        font-size: 12px;
        color: #A7A7A7;
        @include mq(medium) {
            margin-top: 0;
        }
        a {
            text-decoration: underline;
            color: #A7A7A7;
        }
    }
    .contact_caution_2 {
        text-align: center;
        margin-top: 40px;
        font-size: 13px;
        color: #A7A7A7;
    }

    .contactForm_return {
        cursor: pointer;
        outline: none;
        margin: 50px auto 0;
        width: 100%;
        max-width: 280px;
        height: 60px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 15px;
        color: #000;
        background: #E0E0E0;
        border: 1px solid #E0E0E0;
        transition: 0.4s $ease-out;
        @include mq(medium) {
            margin-top: 24px;
            &:hover {
                opacity: 0.8;
            }
        }
    }

    .contactForm_submit {
        cursor: pointer;
        outline: none;
        margin: 16px auto 0;
        width: 100%;
        max-width: 280px;
        height: 60px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 15px;
        color: #fff;
        background: #000;
        border: 1px solid #000;
        transition: 0.4s $ease-out;
        @include mq(medium) {
            margin-top: 24px;
            &:hover {
                background: #fff;
                color: #000;
            }
        }
        &.thanks {
            margin-top: 58px;
        }
    }

    .contactForm_thanks {
        margin-top: 40px;
        text-align: center;
        font-size: 15px;
    }

    .contact_error {
        pointer-events: none;
        opacity: 0;
        margin-top: 16px;
        display: flex;
        justify-content: center;
        font-size: 14px;
        color: #F00000;
        &.is-active {
            opacity: 1;
        }
        img {
            width: 23px;
            height: 23px;
        }
        span {
            padding-left: 10px;
        }
    }
}