extends  ./../layout/_layout

block meta
  -
    const meta = {
      title: "株式会社 ジャンゴフィルム",
      description: "100年",
      url: "https://django-film.jp/"
    }

block name
  - const name = "staff"

block contents
  include ./../object/_o-header
  +o-header("staff", "スタッフ")