.o-mainSlider.swiper-container.js-mainSlider
  ul.o-mainSlider_list.swiper-wrapper
    li.o-mainSlider_item.swiper-slide
      .o-mainSlider_img
        img(src="./assets/img/top/img_slide-01.png", alt="")
    li.o-mainSlider_item.swiper-slide
      .o-mainSlider_img
        img(src="./assets/img/top/img_slide-02.png", alt="")
    li.o-mainSlider_item.swiper-slide
      .o-mainSlider_img
        img(src="./assets/img/top/img_slide-03.png", alt="")
    li.o-mainSlider_item.swiper-slide
      .o-mainSlider_img
        img(src="./assets/img/top/img_slide-04.png", alt="")
  .o-mainSlider_pagination.swiper-pagination