-
  const path = "/movie-site/";

header.l-header
  .container
    .l-header_logo
      a(href="/")
        img(src=`${path}/assets/img/img_logo-header.png`, alt="")
    ul.l-header_nav
      li.l-header_nav-item.is-active
        a(href="/")
          span トップ
          span.u-font-azoSans TOP
      li.l-header_nav-item
        a(href="/movie-site/outline/")
          span 会社案内
          span.u-font-azoSans OUTLINE
      li.l-header_nav-item
        a(href="/works/")
          span 作品履歴
          span.u-font-azoSans WORKS
      li.l-header_nav-item
        a(href="/staff/")
          span スタッフ
          span.u-font-azoSans STAFF
      li.l-header_nav-item
        a(href="/contact/")
          span お問い合わせ
          span.u-font-azoSans CONTACT US
      li.l-header_nav-item
        a(href="/drone/")
          span ドローン事業
          span.u-font-azoSans DRONE
      li.l-header_nav-item
        a(href="./privacy_policy/")
          span プライバシーポリシー
          span.u-font-azoSans PRIVACY POLICY
    