-
  const path = "/movie-site/";

.overlay

header.l-header
  .container
    .l-header_logo
      a(href="/movie-site/")
        img(src=`${path}/assets/img/img_logo-header.png`, alt="")
    .l-ham
      .l-sp_ham
        span(class="l-ham_line l-sp_ham_one")
        span(class="l-ham_line l-sp_ham_two")
        span(class="l-ham_line l-sp_ham_three")
      .l-sp_ttl MENU
    ul.l-header_nav
      li.l-header_nav-item.is-active
        a(href="/movie-site/")
          span トップ
          span.u-font-azoSans TOP
      li.l-header_nav-item
        a.is-inactive
          span 会社案内
          span.u-font-azoSans OUTLINE
      li.l-header_nav-item
        a.is-inactive
          span 作品履歴
          span.u-font-azoSans WORKS
      li.l-header_nav-item
        a(href="/movie-site/staff/")
          span スタッフ
          span.u-font-azoSans STAFF
      li.l-header_nav-item
        a(href="/movie-site/contact/")
          span お問い合わせ
          span.u-font-azoSans CONTACT US
      li.l-header_nav-item
        a(href="/movie-site/drone/")
          span 映画関連サービス
          span.u-font-azoSans FILM
      li.l-header_nav-item
        a(href="/movie-site/privacy_policy/")
          span プライバシーポリシー
          span.u-font-azoSans PRIVACY POLICY
    .l-header_sp
      .l-sp_logo
        a(href="/movie-site/")
          img(src=`${path}/assets/img/img_logo-footer.png`, alt="")
      ul.l-sp_nav
        li.l-sp_nav-item
          a(href="/movie-site/")
            span トップ
            span.u-font-azoSans.l-sp_en TOP
        li.l-sp_nav-item
          a.is-inactive
            span 会社案内
            span.u-font-azoSans.l-sp_en OUTLINE
        li.l-sp_nav-item
          a.is-inactive
            span 作品履歴
            span.u-font-azoSans.l-sp_en WORKS
        li.l-sp_nav-item
          a(href="/movie-site/staff/")
            span スタッフ
            span.u-font-azoSans.l-sp_en STAFF
        li.l-sp_nav-item
          a(href="/movie-site/contact/")
            span お問い合わせ
            span.u-font-azoSans.l-sp_en CONTACT US
        li.l-sp_nav-item
          a(href="/movie-site/drone/")
            span 映画関連サービス
            span.u-font-azoSans.l-sp_en FILM
        li.l-sp_nav-item
          a(href="/movie-site/privacy_policy/")
            span プライバシーポリシー
            span.u-font-azoSans.l-sp_en PRIVACY POLICY