.drone_top {
    padding-bottom: 78px;
    margin-bottom: 50px;
    background: #000;
    position: relative;
    @include mq-max(medium) {
        padding-bottom: 60px;
        margin-bottom: 0;
    }
    .droneTop_bg {
        @include linear-bg;
        opacity: 0.5;
    }

    .container {
        position: relative;
        z-index: 2;
    }

    .droneTop_ttl {
        // padding: 71px 0 75px;
        position: relative;
        z-index: 2;
        padding: 67px 0 40px;
        @include mq-max(medium) {
            padding: 37px 0 35px;
        }
    }

    .droneTop_txt {
        color: #fff;
        text-align: center;
        line-height: 2;
        @include mq-max(medium) {
            text-align: left;
            line-height: 1.7;
        }
    }

    // .droneTop_intro {
    //     @include mq(medium) {
    //         display: flex;
    //         max-width: 900px;
    //         margin: 0 auto
    //     };
    //     img {
    //         width: 100%;
    //         max-width: 450px;
    //     }
    // }
}

.droneTop_link {
    width: 330px;
    position: fixed;
    right: 50px;
    bottom: 30px;
    padding: 0;
    margin: 0;
    z-index: 999;
    opacity: 1;
    pointer-events: all;
    transition: 0.4s $ease-out;
    &.is-hide {
        opacity: 0;
        pointer-events: none;
    }
    @include mq-max(medium) {
        right: 0;
        width: 100%;
        padding: 0 20px;
        margin: 0 auto;
    }
    a {
        display: block;
    }
    img {
        width: 100%;
    }
}

.drone_prize {
    padding-top: 75px;
    padding-bottom: 50px;
    @include mq-max(medium) {
        padding-top: 47px;
    }

    .dronePrize_inner {
        display: flex;
        align-items: center;
        justify-content: space-between;
        @include mq-max(medium) {
            display: block;
        }
    }

    .dronePrize_details {
        width: 45%;
        @include mq-max(medium) {
            width: 100%;
        }
        .dronePrizeDetails_ttl {
            font-size: 29px;
            font-weight: bold;
            @include mq-max(medium) {
                font-size: 22px;
            }
        }
        .dronePrizeDetails_txt {
            padding-top: 30px;
            font-size: 17px;
            @include mq-max(medium) {
                padding-top: 26px;
                font-size: 15px;
            }
        }
    }

    .dronePrize_img {
        width: 55%;
        display: flex;
        @include mq-max(medium) {
            width: 100%;
            margin-top: 40px;
        }
        img {
            width: 100%;
        }
    }
}

.drone_paper {
    background: #F5F5F5;
    padding-top: 69px;
    padding-bottom: 45px;
    @include mq-max(medium) {
        padding-top: 47px;
        padding-bottom: 50px;
    }

    .dronePaper_inner {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        @include mq-max(medium) {
            display: block;
        }
    }

    .dronePaper_img {
        width: 55%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        @include mq-max(medium) {
            width: 100%;
        }

        .dronePaperImg_item {
            width: calc(50% - 10px);
            margin: 10px 0;
        }

        img {
            width: 100%;
        }
    }

    .dronePaper_details {
        width: calc(45% - 70px);
        @include mq-max(medium) {
            width: 100%;
        }
        .dronePaperDetails_ttl {
            font-size: 29px;
            font-weight: bold;
            @include mq-max(medium) {
                font-size: 22px;
            }
        }
        .dronePaperDetails_txt {
            padding-top: 30px;
            font-size: 17px;
            @include mq-max(medium) {
                padding-top: 26px;
                font-size: 15px;
                margin-bottom: 40px;
            }
        }
    }
}

.drone_order {
    background: #FFF;
    padding-top: 78px;
    padding-bottom: 80px;
    @include mq-max(medium) {
				padding-top: 47px;
				padding-bottom: 70px;
    }

    .container {
        max-width: 687px;
    }

    .droneOrder_ttl {
        font-size: 20px;
        font-weight: bold;
    }

    .droneOrder_item {
        padding-top: 50px;
        padding-bottom: 15px;
        margin-bottom: 28px;
        display: flex;
        align-items: flex-end;
        line-height: 1.4;
        border-bottom: 1px solid #E5E5E5;
        position: relative;
        @include mq-max(medium) {
            align-items: flex-start;
        }
        &:not(:first-child)::after {
            content: "";
            width: 16px;
            height: 14px;
            background: url($local_url + "assets/img/drone/ico_polygon.png") 100%;
            background-size: cover;
            position: absolute;
            border-color: #000;
            top: 0;
            left: 50%;
        }
        .droneOrderItem_step {
            font-weight: bold;
            font-size: 14px;
            text-transform: uppercase;
            display: inline-block;
            transform: translateY(10px);
            color: #C4C4C4;
            @include mq-max(medium) {
							font-size: 12px;
							line-height: 1;
							display: flex;
							align-items: flex-end;
            }
            span {
                padding-left: 10px;
                font-size: 50px;
                display: inline-block;
								transform: translateY(5px);
								@include mq-max(medium) {
									font-size: 31px;
								}
            }
        }
        .droneOrderItem_txt {
            padding-left: 45px;
            font-size: 17px;
            @include mq-max(medium) {
              	font-size: 16px;
            }
            span {
                display: block;
								font-size: 12px;
								@include mq-max(medium) {
									margin-top: 10px;
								}
            }
        }
    }
}