.o-mainSlider {
  background: #000000;
  height: 496px;
  @include mq(medium) {
    height: 560px;
  }
  .o-mainSlider_pagination {
    background: #2D2D2D;
    position: absolute;
    bottom: 0;
    padding-top: 18px;
    @include mq(medium) {
      // position: static;
      bottom: 0px;
      z-index: 999;
    }
    .swiper-pagination-bullet {
      background: #C9C8C8;
      opacity: 1;
      width: 7px;
      height: 7px;
      margin: 0 5px;
    }
    .swiper-pagination-bullet-active {
      background: #FFB100;
    }
  }
  .swiper-wrapper {
    height: 100%;
  }
  .o-mainSlider_item {
    width: 100%;
    height: 100%;
    @include mq(medium) {
      height: 516px;
    }
    &.swiper-slide-active {
      .o-mainSlider_inner {
        .o-mainSlider_img {
          opacity: 1;
        }
        .o-mainSlider_details {
          opacity: 1;
        }
      }
    }
    &.full {
      .o-mainSlider_inner {
        padding: 0;
        max-width: 100%;
        height: 100%;
        display: block;
        .o-mainSlider_img {
          width: 100%;
          height: 100%;
        }
      }
    }
    .o-mainSlider_inner {
      color: #fff;
      @include mq(medium) {
        padding: 40px 0;
        max-width: 740px;
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
      }
      .o-mainSlider_img {
        height: 100%;
        opacity: 0;
        transition: 2s $ease-out;
        @include mq(medium) {
          width: 309px;
        }
        img {
          width: 100%;
          height: 100%;
        }
      }
      .o-mainSlider_details {
        display: none;
        @include mq(medium) {
          width: calc(100% - 356px);
          display: block;
          opacity: 0;
          transition: 2s $ease-out;
        }
        .o-mainSliderDetails_head {
          .o-mainSliderDetails_ttl {
            margin-top: 10px;
            font-size: 45px;
            color: #E3B640;
          }
          .o-mainSliderDetails_subTtl {
            margin-top: 10px;
            font-size: 15px;
          }
        }
        .o-mainSliderDetails_body {
          margin-top: 80px;
          .o-mainSliderDetails_schedule {
            .date {
              font-size: 30px;
              color: #E3B640;
            }
            .day {
              padding-left: 5px;
              display: inline-block;
              font-size: 17px;
            }
            .where {
              margin-top: 6px;
              display: block;
              font-size: 17px;
            }
          }
        }
        .o-mainSliderDetails_footer {
          margin-top: 34px;
          .o-mainSliderDetails_role {
            li {
              font-size: 11px;
            }
          }
          .o-mainSliderDetails_year {
            margin-top: 6px;
            font-size: 10px;
          }
        }
      }
    }
  }
}