

.o-ttl {
  text-align: center;
  line-height: 1;
  span {
    display: block;
  }
  .o-ttl_en {
    margin-top: 16px;
    font-size: 13px;
    font-weight: medium;
    color: #FFB100;
    text-transform: uppercase;
    @include mq-max(medium) {
      font-size: 14px;
      margin-top: 7px;
    }
  }
  .o-ttl_jp {
    font-size: 28px;
    font-weight: bold;
    line-height: 1.4;
    @include mq-max(medium) {
      font-size: 24px;
    }
  }
  .o-ttl_line {
    margin: 20px auto 0;
    width: 30px;
    height: 1px;
    @include mq-max(medium) {
      margin-top: 18px;
    }
  }
  &.-white {
    .o-ttl_jp {
      color: #fff;
    }
    .o-ttl_line {
      background: #fff;
    }
  }
  &.-black {
    .o-ttl_jp {
      color: #000;
    }
    .o-ttl_line {
      background: #000;
    }
  }
}