.staff {
		margin-bottom: 180px;
		@include mq-max(medium) {
			margin-bottom: 70px;
		}
}

.staff_top {
    padding-bottom: 99px;
    margin-bottom: 110px;
    background: #000;
		position: relative;
		@include mq-max(medium) {
			padding-bottom: 65px;
			margin-bottom: 50px;
		}
    .staffTop_bg {
        @include linear-bg;
        opacity: 0.5;
    }
    .staffTop_ttl {
        position: relative;
        z-index: 2;
				padding: 67px 0 40px;
				@include mq-max(medium) {
					padding: 37px 0 35px;
				}
    }
    .container {
        position: relative;
        z-index: 2;
    }
    .staffTop_txt {
        color: #fff;
        text-align: center;
				line-height: 2;
				@include mq-max(medium) {
					text-align: left;
					line-height: 1.7;
				}
    }
    .staffTop_img {
        img {
            width: 100%;
        }
        .staffTopImg_team {
            margin: 32px auto 0;
            width: 210px;
            @include mq-max(medium) {
                margin-top: 27px;
                width: 169px;
            }
        }
        .staffTopImg_join {
            margin: 52px auto 0;
            width: 327px;
            @include mq-max(medium) {
                margin-top: 35px;
                width: 197px;
            }
        }
    }
}

.staffData {
    .staffData_head {
        text-align: center;
        span:nth-of-type(1) {
            font-size: 17px;
            color: #6C6C6C;
        }
        span:nth-of-type(2) {
            display: block;
            line-height: 1;
            margin-top: 3px;
            font-size: 26px;
            font-weight: bold;
                @include mq-max(medium) {
                    font-size: 24px;
                }
        }
    }
    .staffData_ttl {
        margin-top: 65px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: relative;
        width: 100%;
            @include mq-max(medium) {
                margin-top: 80px;
            }
        .staffDataTtl_img {
            width: 54px;
            transform: translateY(-16px);
            @include mq-max(medium) {
                width: 43px;
            }
            img {
                width: 100%;
            }
        }
        .staffDataTtl_txt {
            margin-top: 10px;
            display: block;
            font-size: 28px;
            font-weight: bold;
            padding: 0;
            line-height: 1;
            background: #fff;
            transform: translateY(-16px);
            padding: 0 20px;
            @include mq-max(medium) {
                font-size: 20px;
            }
        }
        .staffDataTtl_line {
            content: "";
            display: block;
            position: absolute;
            top: calc(50% + 20px);
            right: 0;
            width: calc(100%);
            height: 1px;
            background: #A7A7A7;
            z-index: -1;
            @include mq-max(medium) {
                display: none;
            }
        }
    }

    .staffData_list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
				@include flex-align-left(calc(33.333% - 28px));
				@include mq-max(medium) {
					display: block;
				}
        img {
            width: 100%;
        }
        .staffData_item {
            position: relative;
            margin-top: 40px;
            width: calc(33.333% - 28px);
            z-index: 1;
            &.is-open {
                z-index: 2;
            }
            @include mq-max(medium) {
                margin-top: 44px;
                width: 100%;
            }
            .staffDataItem_btn {
                &::before,
                &::after {
                    width: 8px;
                    top: auto;
                    bottom: 8.5px;
                }
            }
            .staffDataItem_btn {
                &::before,
                &::after {
                    right: 35px;
                    @include mq-max(medium) {
                        right: 0;
                    }
                }
                &.other1 {
                    &::before,
                    &::after {
                        @include mq(large) {
                            right: 15px;
                        }
                        @include mq(xlarge) {
                            right: 65px;
                        }
                    }
                    .staffDataItem_details {
                        @include mq(large) {
                            right: 30px;
                        }
                        @include mq(xlarge) {
                            right: 80px;
                        }
                    }
                }
                &.other2 {
                    &::before,
                    &::after {
                        @include mq(large) {
                            right: 115px;
                        }
                        @include mq(xlarge) {
                            right: 155px;
                        }
                    }
                    .staffDataItem_details {
                        @include mq(large) {
                            right: 130px;
                        }
                        @include mq(xlarge) {
                            right: 170px;
                        }
                    }
                }
            }
            .staffDataItem_ttl {
                color: #FF0000;
                font-size: 25px;
								font-weight: bold;
								@include mq-max(medium) {
									font-size: 20px;
								}
            }
            .staffDataItem_name {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                .staffDataItemName_img {
										width: 99px;
										@include mq-max(medium) {
											width: 79px;
										}
                }
                .staffDataItemName_txt {
                    padding-top: 10px;
                    font-size: 12px;
                    color: #FF0000;
                }
            }
            .staffDataItem_details {
                position: absolute;
                bottom: 0;
                right: 52px;
								text-align: right;
								@include mq-max(medium) {
									right: 15px;
								}
                .staffDataItemDetails_role {
                    font-size: 16px;
                    font-weight: bold;
                    transform: translateX(15px);
                }
                .staffDataItemDetails_btn {
                    color: #707070;
                    font-size: 12px;
                }
            }
            .staffDataItem_works {
                width: 100%;
                position: absolute;
                margin-top: 20px;
                background: #F8F8F8;
                padding: 20px 15px;
                .staffDataItemWorks_item {
                    padding-top: 20px;
                    display: flex;
                    &:first-child {
                        padding-top: 0;
                    }
                    .staffDataItemWorksItem_year {
                        font-size: 13px;
                    }
                    .staffDataItemWorksItem_data {
                        padding-left: 14px;
                        font-size: 15px;
                        font-weight: bold;
                        span {
                            display: block;
                            font-size: 11px;
                            font-weight: medium;
                            color: #910000;
                        }
                    }
                }
            }
        }
    }
}