extends  ./layout/_layout

block meta
  -
    const meta = {
      title: "株式会社 ジャンゴフィルム",
      description: "100年",
      url: "https://django-film.jp/"
    }

block name
  - const name = "home"

block contents
  include ./object/_o-mainSlider
  .home_about
    .common_bg
    .homeAbout_bg
    .container
      .homeAbout_ttl.common_ttl.-white
        span.commonTtl_en.u-font-azoSans ABOUT US
        span.commonTtl_jp 私たちについて
        span.commonTtl_line
      .homeAbout_catch
        img(src="assets/img/top/ttl_catch.svg", alt="")
      .homeAbout_details
        .homeAboutDetails_img
          img(src="assets/img/top/img_about.png", alt="")
        .homeAboutDetails_txt
          p 株式会社ジャンゴフィルムは東京東京都調布市にある映画製作会社。
          | 映画製作だけではなく、総合的な映像事業を提供している。
          | 映画製作に興味がある若者や新人若手監督に向けて、
          | 2007年から現在にかけて、無数な作品を作成した。
          | ジャンゴフィルムの総合力は、映画、映像制作のスペシャリストの集まりであり、
          | 映画制作のことなら何でもできる、という力です。
          | 私たちは様々な作品を作りたい、挑戦したい、
          |今まで色々な困難を越えて、この世界へ。
  
  .home_numbers
    .container
      .homeNumbers_ttl.common_ttl.-black
        span.commonTtl_en.u-font-azoSans IN NUMBERS
        span.commonTtl_jp 数字で見るジャンゴフィルム
        span.commonTtl_line