.l-footer {
  position: relative;
  background: #000;
  height: 320px;
  @include mq-max(medium) {
    height: 411px;
  }

  .l-footer_bg {
    @include linear-bg(linear-gradient(to top, #000000, #151515, #3B3B3B, #717171));
    opacity: 0.5;
    height: 100%;
  }

  .l-footer_toTop {
    cursor: pointer;
    position: absolute;
    z-index: 2;
    width: 43px;
    height: 43px;
    right: 20px;
    top: -21.5px;
    transition: 0.4s $ease-out;
    @include mq(medium) {
      width: 61px;
      height: 61px;
      right: 90px;
      top: -30.5px;
      &:hover {
        opacity: 0.9;
      }
    }
    img {
      width: 100%;
    }
  }

  .container {
    position: relative;
    z-index: 2;
  }

  .l-footer_nav {
    padding-top: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    @include mq-max(medium) {
      display: none;
    }
    .l-footer_nav-item {
      text-align: center;
      position: relative;
      padding-bottom: 8px;
      &.is-active::after {
        content: "";
        display: block;
        position: absolute;
        bottom: -3px;
        width: 100%;
        height: 3px;
        background: linear-gradient(to top right, #FF0007, #FF9300);
      }
      &.is-inactive::after {
        display: none;
      }
      a {
        color: #fff;
        transition: 0.4s $ease-out;
        &.is-inactive {
          pointer-events: none;
          color: rgba(#fff, 0.5);
        }
        &:hover {
          color: #CC0E13;
        }
      }
      span {
        display: block;
        &:nth-of-type(1) {
          font-size: 14px;
          font-weight: medium;
        }
        &:nth-of-type(2) {
          padding-top: 3px;
          font-size: 10px;
        }
      }
    }
  }

  .l-footer_other {
    padding-top: 46px;
    display: flex;
    @include mq-max(medium) {
      display: inline-block;
    }
    a {
      margin-top: 10px;
      display: block;
      color: #fff;
      font-size: 12px;
      transition: 0.4s $ease-out;
      &:hover {
        color: #CC0E13;
      }
      &:not(:first-child) {
        padding-left: 40px;
        @include mq-max(medium) {
          padding-left: 0;
        }
      }
    }
    span {
      display: block;
      @include mq-max(medium) {
        display: inline;
      }
    }
  }

  .l-footer_logo {
    width: 102px;
    margin: 40px auto 0;
    @include mq-max(medium) {
      margin-top: 114px;
    }
    img {
      width: 100%;
    }
  }

  .l-footer_copy {
    font-size: 11px;
    padding-top: 16px;
    text-align: center;
    color: #fff;
    @include mq-max(medium) {
      line-height: 1.6;
    }
  }

  .l-footer_sns {
    display: flex;
    position: absolute;
    bottom: 0;
    right: 0;
    @include mq-max(medium) {
      width: 120px;
      left: 0;
      top: 200px;
      bottom: 0;
      margin: 0 auto;
    }
    .l-footer_sns-item {
      transition: 0.4s $ease-out;
      &:hover {
        opacity: 0.9;
      }
      img {
        width: 32px;
      }
      &:not(:first-child) {
        padding-left: 12px;
      }
    }
  }
}