.l-header {
  margin: 30px 0;
  .l-header_logo {
    width: 128px;
    margin: 0 auto;
    img {
      width: 100%;
    }
  }

  .l-header_nav {
    margin-top: 38px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    .l-header_nav-item {
      text-align: center;
      position: relative;
      padding-bottom: 8px;
      &.is-active::after {
        content: "";
        display: block;
        position: absolute;
        bottom: -3px;
        width: 100%;
        height: 3px;
        background: linear-gradient(to top right, #FF0007, #FF9300);
      }
      &.is-inactive::after {
        display: none;
      }
      a {
        color: #000;
        transition: 0.4s $ease-out;
        
        &:hover{
          color: #FF0000;
        }
      }
      span {
        display: block;
        &:nth-of-type(1) {
          font-size: 16px;
          font-weight: bold;
        }
        &:nth-of-type(2) {
          font-size: 12px;
          font-weight: medium;
        }
      }
    }
  }
}