body, main {
  background: #fff;
}

.overlay {
  z-index: 1;
  top: 0px;
  position: fixed;
  background: #0f0f0f;
  width: 100%;
  height: 100%;
  visibility: hidden;
  opacity: 0;
  transition: all 0.7s ease-out;
}

.l-header {
  position: relative;
  margin: 30px 0;
  @include mq-max(medium) {
    margin: 20px 0;
  }
  .l-header_logo {
    width: 128px;
    margin: 0 auto;
    @include mq-max(medium) {
      width: 80px;
    }
    img {
      width: 100%;
    }
  }

  .l-header_lang {
    position: absolute;
    top: 30px;
    right: 60px;
    a {
      font-size: 14px;
      font-weight: medium;
      color: #000;
      line-height: 1;
      transition: 0.4s $ease-out;
      &:hover {
        color: #FF0000;
      }
      &:first-child {
        padding-right: 10px;
        position: relative;
        &::after {
          content: "";
          width: 1px;
          height: 12px;
          background: #000;
          position: absolute;
          top: calc(50% - 1px);
          right: 0;
          transform: translateY(-50%);
        }
      }
      &:last-child {
        padding-left: 10px;
      }
    }
  }

  .l-ham {
    cursor: pointer;
    &:hover {
      .l-sp_ttl {
        opacity: 0.8;
      }
      .l-ham_line {
        opacity: 0.8;
      }
    }
  }

  .l-sp_ttl {
    position: fixed;
    top: 18px;
    right: 20px;
    font-size: 20px;
    opacity: 0;
    transition: 0.4s $ease-out;
    z-index: 9999;
    color: #000;
    pointer-events: none;
    &.is-show {
      pointer-events: all;
      opacity: 1;
    }
    &.active {
      opacity: 0 !important;
      pointer-events: none;
    }
    @include mq-max(medium) {
      display: none;
      opacity: 0;
    }
  }
  
  .l-sp_ham {
    // display: none;
    position: fixed;
    top: 27px;
    right: 100px;
    width: 26px;
    height: 14px;
    opacity: 0;
    transition: 0.4s $ease-out;
    z-index: 99998;
    pointer-events: none;
    &.is-show {
      pointer-events: all;
      opacity: 1;
    }
    @include mq-max(medium) {
      // position: absolute;
      position: fixed;
      right: 20px;
      display: block;
      opacity: 1;
      pointer-events: all;
    }
    @include mq(medium) {
      &:hover {
        .l-ham_line {
          background: #FF0007;
        }
      }
    }
    .l-ham_line {
      content: '';
      position: absolute;
      width: 100%;
      height: 2px;
      display: block;
      background: #000;
      transition: 0.4s $ease-out;
      z-index: 999;
      mix-blend-mode: difference;
    }
    .l-sp_ham_one {
      top: 0;
      transition: 0.4s $ease-out;
    }
    .l-sp_ham_two {
      top: 50%;
      transform: translateY(-50%);
      transition: 0.4s $ease-out;
    }
    .l-sp_ham_three {
      bottom: 0;
      transition: 0.4s $ease-out;
    }
  }

  .l-sp_ham.active {
    cursor: pointer;
    position: fixed;
    top: 27px;
    right: 20px;
    width: 26px;
    height: 14px;
    opacity: 1;
    @include mq(medium) {
      &:hover {
        .l-ham_line {
          background: #FF0007;
        }
      }
    }
    .l-ham_line {
      content: '';
      position: absolute;
      width: 100%;
      height: 1px;
      background: #fff;
      z-index: 999;
      transition: 0.4s $ease-out;
    }
    .l-sp_ham_one {
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      transform: rotateZ(-45deg);
      margin: auto;
      transform-origin: 50% 50%;
    }
    .l-sp_ham_two {
      opacity: 0;
    }
    .l-sp_ham_three {
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      margin: auto;
      transform: rotateZ(45deg);
      transform-origin: 50% 50%;
    }
  }

  .l-header_nav {
    margin-top: 38px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    @include mq-max(medium) {
      display: none;
    }
    .l-header_nav-item {
      text-align: center;
      position: relative;
      padding-bottom: 8px;
      &.is-active::after {
        content: "";
        display: block;
        position: absolute;
        bottom: -3px;
        width: 100%;
        height: 3px;
        background: linear-gradient(to top right, #FF0007, #FF9300);
      }
      &.is-inactive::after {
        display: none;
      }
      a {
        color: #000;
        transition: 0.4s $ease-out;
        &.is-inactive {
          pointer-events: none;
          color: rgba(#333333, 0.3);
          &:hover {
            color: rgba(#333333, 0.3);
          }
        }
        
        &:hover{
          color: #FF0000;
        }
      }
      span {
        display: block;
        &:nth-of-type(1) {
          font-size: 16px;
          font-weight: bold;
        }
        &:nth-of-type(2) {
          font-size: 12px;
          font-weight: medium;
        }
      }
    }
  }
  .l-header_sp {
    // display: none;
    top: 0;
    left: auto;
    right: 0;
    width: 80%;
    height: 100%;
    padding: 27px 20px 0;
    box-sizing: border-box;
    transform: translateX(100vw);
    transition: transform .3s;
    @include linear-bg();
    position: fixed;
    z-index: 9999;
    @include mq-max(medium) {
      display: block;
      width: 100%;
      left: 0;
      right: auto;
    }
    .l-sp_logo {
      width: 82px;
      @include mq(medium) {
        display: none;
      }
      img {
        width: 100%;
      }
    }
    .l-sp_lang {
      margin: 25px 0;
      a {
        font-size: 15px;
        font-weight: medium;
        color: #fff;
        line-height: 1;
        @include mq(medium) {
          display: none;
        }
        &:first-child {
          padding-right: 10px;
          position: relative;
          &::after {
            content: "";
            width: 1px;
            height: 12px;
            background: #fff;
            position: absolute;
            top: calc(50% - 1px);
            right: 0;
            transform: translateY(-50%);
          }
        }
        &:last-child {
          padding-left: 10px;
        }
      }
    }
    .l-sp_nav {
      margin-top: 25px;
      @include mq(medium) {
        margin-top: 120px;
        margin-left: 30px;
      }
      .l-sp_nav-item {
        position: relative;
        margin-bottom: 23px;
        display: block;
        &.is-active {
          a {
            &::after {
              content: "";
              display: block;
              position: absolute;
              bottom: -4px;
              width: 100%;
              height: 3px;
              background: linear-gradient(to top right, #FF0007, #FF9300);
            }
          }
        }
        a {
          position: relative;
          color: #fff;
          display: inline-block;
          transition: 0.4s $ease-out;
          &:hover {
            color: #FF0007;
            .l-sp_en {
              color: rgba($color: #FF0007, $alpha: 0.8);
            }
          }
          &.is-inactive {
            pointer-events: none;
            color: rgba(#fff, 0.3);
            .l-sp_en {
              color: rgba(#fff, 0.3);
            }
          }
          span {
            display: block;
            font-size: 16px;
            font-weight: bold;
          }
          .l-sp_en {
            font-size: 12px;
            font-weight: normal;
            color: rgba($color: #fff, $alpha: 0.8);
            transition: 0.4s $ease-out;
          }
        }
      }
    }
  }
  .l-header_sp.active {
    transform: translateX(90%);
    @include mq-max(medium) {
      transform: translateX(0);
    }
  }
}