.l-header {
  margin: 30px 0;
  @include mq-max(medium) {
    margin: 20px 0;
  }
  .l-header_logo {
    width: 128px;
    margin: 0 auto;
    @include mq-max(medium) {
      width: 80px;
    }
    img {
      width: 100%;
    }
  }
  
  .l-sp_ham {
    display: none;
    position: absolute;
    top: 27px;
    right: 20px;
    width: 26px;
    height: 14px;
    @include mq-max(medium) {
      display: block;
    }
    .l-ham_line {
      content: '';
      position: absolute;
      width: 100%;
      height: 1px;
      display: block;
      background-color: #000;
      transition: all .3s;
      z-index: 999;
    }
    .l-sp_ham_one {
      top: 0;
      transition: transform .3s;
    }
    .l-sp_ham_two {
      top: 50%;
      transform: translateY(-50%);
      transition: opacity .3s;
    }
    .l-sp_ham_three {
      bottom: 0;
      transition: transform .3s;
    }
  }

  .l-sp_ham.active {
    position: absolute;
    top: 27px;
    right: 20px;
    width: 26px;
    height: 14px;
    .l-ham_line {
      content: '';
      position: absolute;
      width: 100%;
      height: 1px;
      background-color: #fff;
      z-index: 999;
    }
    .l-sp_ham_one {
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      transform: rotateZ(-30deg);
      margin: auto;
      transform-origin: 50% 50%;
    }
    .l-sp_ham_two {
      opacity: 0;
    }
    .l-sp_ham_three {
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      margin: auto;
      transform: rotateZ(30deg);
      transform-origin: 50% 50%;
    }
  }

  .l-header_nav {
    margin-top: 38px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    @include mq-max(medium) {
      display: none;
    }
    .l-header_nav-item {
      text-align: center;
      position: relative;
      padding-bottom: 8px;
      &.is-active::after {
        content: "";
        display: block;
        position: absolute;
        bottom: -3px;
        width: 100%;
        height: 3px;
        background: linear-gradient(to top right, #FF0007, #FF9300);
      }
      &.is-inactive::after {
        display: none;
      }
      a {
        color: #000;
        transition: 0.4s $ease-out;
        &.is-inactive {
          pointer-events: none;
          color: rgba(#333333, 0.3);
          &:hover {
            color: rgba(#333333, 0.3);
          }
        }
        
        &:hover{
          color: #FF0000;
        }
      }
      span {
        display: block;
        &:nth-of-type(1) {
          font-size: 16px;
          font-weight: bold;
        }
        &:nth-of-type(2) {
          font-size: 12px;
          font-weight: medium;
        }
      }
    }
  }
  .l-header_sp {
    display: none;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 27px 20px 0;
    box-sizing: border-box;
    transform: translateX(100vw);
    transition: transform .3s;
    @include linear-bg();
    position: fixed;
    z-index: 99;
    @include mq-max(medium) {
      display: block;
    }
    .l-sp_logo {
      width: 82px;
      img {
        width: 100%;
      }
    }
    .l-sp_nav {
      margin-top: 25px;
      .l-sp_nav-item {
        position: relative;
        margin-bottom: 23px;
        display: block;
        &.is-active {
          a {
            &::after {
              content: "";
              display: block;
              position: absolute;
              bottom: -4px;
              width: 100%;
              height: 3px;
              background: linear-gradient(to top right, #FF0007, #FF9300);
            }
          }
        }
        a {
          position: relative;
          color: #fff;
          display: inline-block;
          &.is-inactive {
            pointer-events: none;
            color: rgba(#fff, 0.3);
            .l-sp_en {
              color: rgba(#fff, 0.3);
            }
          }
          span {
            display: block;
            font-size: 16px;
            font-weight: bold;
          }
          .l-sp_en {
            font-size: 12px;
            font-weight: normal;
            color: rgba($color: #fff, $alpha: 0.8);
          }
        }
      }
    }
  }
  .l-header_sp.active {
    transform: translateX(0);
  }
}