.works_top {
    padding-bottom: 140px;
    margin-bottom: 47px;
    background: #000;
    position: relative;
    @include mq(medium) {
        padding-bottom: 78px;
        margin-bottom: 0;
    }
    .worksTop_bg {
        @include linear-bg;
        opacity: 0.5;
    }
    .worksTop_ttl {
        position: relative;
        z-index: 2;
				padding: 67px 0 40px;
				@include mq-max(medium) {
					padding: 37px 0;
				}
    }

    .worksTop_mainSlider {
        pointer-events: none;
        position: relative;
        z-index: 2;
        width: 100%;
        .worksTopMainSlider_inner {
            pointer-events: none;
            display: flex;
            -webkit-transition-timing-function:linear!important; 
            -o-transition-timing-function:linear!important;
            transition-timing-function:linear!important; 
            .slick-track {
                display: flex;
                width: 100% !important;
            }
            .slick-slide {
                width: 121px;
                height: 200px;
                @include mq(medium) {
                    width: 218px !important;
                    height: 310px !important;
                }
            }
            .worksTopMainSlider_item {
                pointer-events: none;
                width: 121px;
                height: 200px;
                margin: 0 4px;
                @include mq(medium) {
                    width: 218px !important;
                    height: 310px !important;
                    margin: 0 9px;
                }
            }
            img {
                width: 121px;
                height: 200px;
                @include mq(medium) {
                    width: 218px !important;
                    height: 310px !important;
                }
            }
        }
    }

    .worksTop_link {
        position: fixed;
        z-index: 2;
        width: 100%;
        padding: 0 20px;
        margin: 46px auto 0;
        z-index: 999;
        opacity: 1;
        pointer-events: all;
        transition: 0.4s $ease-out;
        &.is-hide {
            opacity: 0;
            pointer-events: none;
        }
        @include mq(medium) {
            width: 250px;
            right: 50px;
            bottom: 30px;
            padding: 0;
            margin: 0;
        }
        a {
            display: block;
        }
    }
}

.works_other {
    padding-bottom: 400px;
    position: relative;
    @include mq(medium) {
        padding-top: 48px;
    }
    .container {
        // position: relative;
        @include mq(medium) {
            width: calc(100% - 170px);
        }
    }
    .worksOther_history {
        margin-top: 34px;
        @include mq-and(medium, large) {
            padding-left: 170px;
        }
    }
    .worksOther_select {
        .worksOther_ttl {
            font-size: 15px;
        }
        .worksOther_select-year {
            position: relative;
            @include arrow;
            &:focus {
                &::after {
                    content: none;
                }
            }
            &::after {
                transition: 0.4s $ease-out;
                border-color: #6C6C6C;
                top: calc(50% + 3px);
                right: 22px;
                transform: translate(0, -50%) rotate(135deg);
            }
            select {
                outline: none;
                margin-top: 8px;
                width: 100%;
                background: #F5F5F5;
                font-size: 16px;
                font-weight: bold;
                font-family: $font-dinPro;
                color: #848484;
                padding: 12px 20px;
                option {
                    outline: none;
                    margin-top: 6px;
                    border: none;
                    background: #F5F5F5;
                }
            }
        }
    }
    .worksOther_select-pc {
        display: none;
        @include mq(medium) {
            display: block;
            width: 170px;
            height: 100%;
            background: #EDEDED;
            position: absolute;
            top: 0;
            left: 0;
            z-index: 99;
        }
        .worksOther_select-year-pc {
            display: none;
            @include mq(medium) {
                position: relative;
                z-index: 10;
                display: block;
                padding-left: 20px;
                li {
                    width: 63px;
                    color: #848484;
                    position: relative;
                    cursor: pointer;
                    margin: 20px auto 0;
                    font-weight: bold;
                    &.is-active {
                        background: linear-gradient(to bottom right, #FF0007, #FF9300);
                        background-clip: text;
                        -webkit-background-clip: text;
                        color: rgba(0,0,0, 0);
                        &::after {
                            background: #F47424;
                        }
                    }
                    &::after {
                        content: "";
                        display: block;
                        width: 6px;
                        height: 6px;
                        background: #848484;
                        border-radius: 50%;
                        position: absolute;
                        left: -20px;
                        top: calc(50% - 1px);
                        transform: translate(-50%, -50%);
                    }
                }
            }
        }
    }
    .worksOther_year {
        margin-top: 10px;
        font-size: 41px;
        text-align: center;
        @include mq(medium) {
            margin-top: 90px;
            font-size: 40px;
        }
    }
    .worksOther_slider {
        margin-top: 25px;
        z-index: 2;
        display: flex;
        overflow: visible;
        opacity: 1;
        transition: 0.4s $ease-out;
        &.is-hide {
            opacity: 0;
            // transition-duration: 0s;
        }
        @include mq(medium) {
            margin-top: 40px;
        }
        .worksOtherSlider_inner {
            display: flex;
            img {
                width: 218px;
                height: 310px;
                @include mq(medium) {
                    width: 245px;
                    height: 347px;
                }
            }
    
            .worksOtherSlider_item {
                cursor: pointer;
                width: 218px;
                height: 310px;
                margin: 0 9px;
                position: relative;
                @include mq(medium) {
                    width: 245px;
                    height: 347px;
                }
                &::after {
                    content: "";
                    display: block;
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    left: 0;
                    top: 0;
                    right: 0;
                    bottom: 0;
                    background: rgba(#000, 0.6);
                    transition: 0.4s $ease-out;
                }
                &.swiper-slide-active {
                    .details {
                        transition-delay: 0.6s;
                        opacity: 1;
                    }
                }
                &.swiper-slide-active,
                &.swiper-slide-active.swiper-slide-duplicate {
                    &::after {
                        background: rgba(#000, 0) !important;
                    }
                }
                &.swiper-slide-prev,
                &.swiper-slide-next {
                    &::after {
                        background: rgba(#000, 0.3) !important;
                    }
                }
                &.swiper-slide-duplicate {
                    &::after {
                        background: rgba(#000, 0.5) !important;
                    }
                }
                &.swiper-slide-duplicate-prev,
                &.swiper-slide-duplicate-next {
                    &::after {
                        background: rgba(#000, 0.8) !important;
                    }
                }
                &.swiper-slide-duplicate-active {
                    &::after {
                        background: rgba(#000, 0.9) !important;
                    }
                }
                .details {
                    opacity: 0;
                    transform: translateX(-30px);
                    width: 280px;
                    padding-top: 60px;
                    transition: 0.4s $ease-out;
                    @include mq(xxsmall) {
                        transform: translateX(-50px);
                        width: 320px;
                    }
                    @include mq(medium) {
                        transform: translateX(-165px);
                        width: 600px;
                        padding-top: 70px;
                    }
                    .ttl {
                        font-size: 25px;
                        @include mq(medium) {
                            font-size: 30px;
                            text-align: center;
                        }
                    }
                    .desc {
                        margin-top: 12px;
                        font-size: 14px;
                        line-height: 1.6;
                        @include mq(medium) {
                            margin-top: 16px;
                            font-size: 15px;
                            line-height: 1.8;
                        }
                    }
                    .credit {
                        margin-top: 10px;
                        font-size: 11px;
                    }
                    .link {
                        display: inline-block;
                        margin-top: 24px;
                        font-size: 12px;
                        border-bottom: 1px solid #000;
                        transition: 0.4s $ease-out;
                        &:hover {
                            border-bottom: 1px solid #FF0000;
                            a {
                                color: #FF0000;
                            }
                        }
                        a {
                            display: inline-block;
                            color: #000;
                            transition: 0.4s $ease-out;
                        }
                    }
                }
            }
        }

        .swiper-pagination {
            left: -30px;
            bottom: -50px;
            z-index: 500;
            .swiper-pagination-bullet {
                transition: 0.4s $ease-out;
            }
            .swiper-pagination-bullet-active {
                background: #000;
            }
        }

        .buttons {
            position: absolute;
            width: 0;
            right: 0;
            bottom: 2px;
            z-index: 9999;
        }

        .swiper-button-prev,
        .swiper-button-next {
            top: auto;
            bottom: -50px;
            background: #000;
            width: 20px;
            height: 20px;
            padding: 7px 9px;
            border-radius: 16px;
            border: 1px solid #000;
            transition: 0.4s $ease-out;
            &::after {
                display: none;
            }
            &::before {
                content: "";
                display: block;
                width: 7px;
                height: 7px;
                border: solid #fff;
                border-width: 1px 1px 0 0;
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
                transition: 0.4s $ease-out;
            }
            &:hover {
                background: #fff;
                &::before {
                    border: solid #000;
                    border-width: 1px 1px 0 0;
                }
            }
        }

        .swiper-button-prev {
            left: -30px;
            &::before {
                left: calc(50% + 2px);
                transform: translate(-50%, -50%) rotate(225deg);
            }
        }

        .swiper-button-next {
            right: -30px;
            &::before {
                left: calc(50% - 1px);
                transform: translate(-50%, -50%) rotate(45deg);
            }
        }
    }
}