
html(lang="ja")
  head
    block meta
    include ./_meta
    +meta(meta)
    
    link(rel="stylesheet" href="assets/css/bundle.css")
    script(src="assets/js/vendor.js" defer)
    script(src="assets/js/common.js" defer)
  body
    .loading
      img(src=`assets/img/img_logo-footer.png`, alt="loading")

    // header
    include ../inc/header
    // /header

    .wrapper
      block name
      .barba_wrapper(data-barba="wrapper")
        .barba_container(data-barba="container" data-barba-namespace=`${name}`)
          // main
          main(class=`${name}`)
            block contents
          // /main

    // footer
    include ../inc/footer
    // /footer
