@import "./base";

@import "./pages/index";
@import "./pages/works/index";
@import "./pages/staff/index";
@import "./pages/drone/index";
@import "./pages/privacy_policy/index";
@import "./pages/contact/index";