extends  ./../../layout/_layout

block meta
  -
    const meta = {
      title: "株式会社 ジャンゴフィルム",
      description: "100年",
      url: "https://django-film.jp/"
    }

block name
  - const name = "contact"

block contents
  .contact_top 
    .container
      include ./../../object/_o-ttl
      +o-ttl("contactTop_ttl", "contact", "お問い合わせ", "black")

      include ./../../object/_o-step
      +o-step(2)

      p.contactTop_txt 以下の情報内容がご確認、
        br.u-sp
        | 間違えない上「送信する」ボタンを
        br.u-sp
        | 押してください。
  
  .contact_form
    .container
      form.contactForm_form(action="")
        .contactForm_bg
          .contactForm_companyName.contactForm_item
            label.contactFormItem_label(for="company_name") 会社名・学校名
            p 

          .contactForm_companyRole.contactForm_item
            label.contactFormItem_label(for="company_role") 役職・役割
            p 

          .contactForm_name.contactForm_item
            label.contactFormItem_label(for="name_full") お名前
            p 

          .contactForm_nameFurigana.contactForm_item
            label.contactFormItem_label(for="name_furigana") お名前（ふりがな）
            p 

          .contactForm_mail.contactForm_item
            label.contactFormItem_label(for="mail") メールアドレス
            p 

          .contactForm_tel.contactForm_item
            label.contactFormItem_label(for="tel") 電話番号
            p 
          
          .contactForm_content.contactForm_item.long
            label.contactFormItem_label(for="content") お問い合わせ内容
            p 

        a(href="/movie-site/contact/").contactForm_return 戻る
        button.contactForm_submit(type = "submit") 送信する