extends  ./../layout/_layout

block meta
  -
    const meta = {
      title: "株式会社 ジャンゴフィルム",
      description: "100年",
      url: "https://django-film.jp/"
    }

block name
  - const name = "works"

block contents
  include ./../object/_o-header
  +o-header("works", "作品履歴")
  .works_top
    .worksTop_bg
    .container
      include ./../object/_o-ttl
      +o-ttl("worksTop_ttl", "latest works", "最新作品", "white")
      .worksTop_mainSlider
        ul.worksTopMainSlider_inner
          li.worksTopMainSlider_item
            img(src=`${path}/assets/img/works/img_slide-02.png`, alt="")
          li.worksTopMainSlider_item
            img(src=`${path}/assets/img/works/img_slide-03.png`, alt="")
          li.worksTopMainSlider_item
            img(src=`${path}/assets/img/works/img_slide-04.png`, alt="")
          li.worksTopMainSlider_item
            img(src=`${path}/assets/img/works/img_slide-06.png`, alt="")